annotated-types==0.5.0
asgiref==3.7.2
backcall==0.2.0
bleach==6.0.0
build==0.10.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.2.0
cryptography==41.0.2
decorator==5.1.1
Django==3.2.20
docutils==0.20.1
idna==3.4
importlib-metadata==6.7.0
importlib-resources==5.12.0
ipython==7.34.0
jaraco.classes==3.2.3
jedi==0.18.2
jeepney==0.8.0
keyring==24.1.1
markdown-it-py==2.2.0
matplotlib-inline==0.1.6
mdurl==0.1.2
model-bakery==1.12.0
more-itertools==9.1.0
packaging==23.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pkginfo==1.9.6
prompt-toolkit==3.0.39
ptyprocess==0.7.0
pycparser==2.21
pydantic==2.0.3
pydantic_core==2.3.0
Pygments==2.15.1
pyproject_hooks==1.0.0
python-decouple==3.8
pytz==2023.3
readme-renderer==37.3
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.4.2
SecretStorage==3.3.3
six==1.16.0
sqlparse==0.4.4
tomli==2.0.1
traitlets==5.9.0
twine==4.0.2
typing_extensions==4.7.1
urllib3==2.0.3
veryfi==3.3.0
wcwidth==0.2.6
webencodings==0.5.1
zipp==3.15.0
